
.login-action-register{

    .message{
        text-align: center;
        font-sie: 22px;
        font-size: 1.375rem;
    }

    #reg_passmail{
        border-bottom: none;
        margin-top: -10px;
        //font-style: italic;
        font-size: 16px;
        font-size: 1rem;
    }

}
